@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <hr />
    <li>
            <a class="dropdown-item" href="#">Dashboard</a>
    </li>
    <hr />
    <li>
            <a class="dropdown-item" href="#">My Orders</a>
    </li>
    <hr />
    <li>
            <a class="dropdown-item" href="#">Update Profile</a>
    </li>
    <hr />
    <li>
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li>
        <a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Register"> <span class="text-black"> <i class="fa-solid fa-pen-to-square"></i> Register </span> </a>
    </li>
    <hr />
    <li>
        <a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Login"> <span class="text-black"> <i class="fa-solid fa-arrow-right-to-bracket"></i> Login </span> </a>
    </li>
}