/*#region Header */

   .logo {
     width: 140px;
   }

   .dropdown-menu-custome {
     left: -57px !important;
     top: 40px !important;
   }

/*#endregion */


/*#region footer */
  .footer-custome {
    background-color: #121212;
    color: #fff;
  }

  .footer-shop-col ul {
    font-size: 12px;
  }

  .social-logo .social-link {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px 0 0;
  }

  .twitter-logo {
    height: 24px;
  }

  .footer-bottom-section {
    font-size: 10px;
    color: #000;
    background-color: #fff;
  }
/*#endregion */


/*#region Hero */

   .hero-video {
     height: 75vh;
     width: 100%;
     object-fit: fill;
     filter: brightness(0.6);
     position: absolute;
     top: 0;
     left: 0;
     overflow-x: hidden;
     z-index: -1;
   }

   .hero-text {
   color: #fff;
   }
   
   

/*#endregion */


/*#region Custome-Theme */

   .custome-btn-main {
     background-color: #eb4b37;
     color: white;
     border: #eb4b37;
     transition: all 0.3s;
   }
   .custome-btn-main:hover {
     background-color: #eb4b37;
     color: white;
     border: #eb4b37;
     transform: scale(1.15);
   }
   .pointer {
       cursor: pointer;
   }

/*#endregion */


/*#region Home & Bikes Page Cards */

   .bikeCard-img {
     background-color: #c3c6c6;
     padding: 1rem;
   }
   .bike-card-col {
     scroll-padding-top: 2rem;
     padding-bottom: 2rem;
   }

   .custome-card {
     transition: all 0.3s;
   }

   .custome-card:hover {
     transform: scale(1.15)
   }


/*#endregion */