@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-section">
    <video class="nav-bg-video" autoplay loop muted playsinline>
        <source src="/images/videoplayback.mp4" type="video/mp4" />
    </video>

    <div class="container my-5 py-5">
        <div class="row py-5 my-5">
            <div class="col nav-hero py-5 ">
                <h1 class="fw-bold fst-italic">Trek Fuel EXe</h1>
                <p>Tincidunt integer eu augue augue nunc elit dolor.</p>
                <button class="btn btn-light">Shop Now</button>
            </div>
        </div>
    </div>
</section>



<section class="bike-card-section">
    <div class="container">
        <div class="row pt-3 pb-5">
            <h1 class="text-center">Our Bikes</h1>
        </div>
        <div class="row">
            <div class="col bike-card-col">
                <a href="#">
                    <div class="card" style="width: 18rem;">
                        <img src="https://media.trekbikes.com/image/upload/f_auto,fl_progressive:semi,q_auto,w_1920,h_1440,c_pad/FuelEX99XX1AXS_23_36956_C_Primary" class="card-img-top bikeCard-img" alt="mtb">
                        <div class="card-body text-center bike-card-body">
                            <a class="card-title text-decoration-none h5" href="#">Mountain Bikes</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col bike-card-col">
                <a href="#">
                    <div class="card" style="width: 18rem;">
                        <img src="https://media.trekbikes.com/image/upload/w_800,h_600,c_pad,f_auto,fl_progressive:semi,q_auto/DomanePlusSLR9_23_36742_C_Primary" class="card-img-top bikeCard-img" alt="mtb">
                        <div class="card-body text-center">
                            <a class="card-title text-decoration-none h5" href="#">Road Bikes</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col bike-card-col">
                <a href="#">
                    <div class="card" style="width: 18rem;">
                        <img src="https://media.trekbikes.com/image/upload/w_800,h_600,c_pad,f_auto,fl_progressive:semi,q_auto/DUALSPORT2EQSTAGGER_22_35010_B_PRIMARY" class="card-img-top bikeCard-img" alt="mtb">
                        <div class="card-body text-center">
                            <a class="card-title text-decoration-none h5" href="#">Hybrid Bikes</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col bike-card-col">
                <a href="#">
                    <div class="card" style="width: 18rem;">
                        <img src="https://media.trekbikes.com/image/upload/w_800,h_600,c_pad,f_auto,fl_progressive:semi,q_auto/VervePlus2Stagger_20_29189_A_Primary" class="card-img-top bikeCard-img" alt="mtb">
                        <div class="card-body text-center">
                            <a class="card-title text-decoration-none h5" href="#">E-Bikes</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="newsletter-section py-5">
    <div class="container text-center">
        <h1>SIGN ME UP!</h1>
        <p>Get special offers, exclusive product news, and event info straight to your inbox.</p>
        <div class="input-group mb-3 w-50 mx-auto">
            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">JOIN</button>
        </div>
    </div>
    <hr />
</section>
