@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-section">
    <video class="nav-bg-video" autoplay loop muted playsinline>
        <source src="/images/videoplayback.mp4" type="video/mp4" />
    </video>

    <div class="container my-5 py-5">
        <div class="row py-5 my-5">
            <div class="col nav-hero py-5 ">
                <h1 class="fw-bold fst-italic">Trek Fuel EXe</h1>
                <p>Tincidunt integer eu augue augue nunc elit dolor.</p>
                <button class="btn btn-light">Shop Now</button>
            </div>
        </div>
    </div>
</section>





    




<div style="height:500px">

</div>